---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/topstories/v1/home.json?api-key=0e79699c678252ad49d15d8e1e7aab44:12:74614928
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-04.mashery.com
      X-Amz-Request-Id:
      - 74E6F7C21AD055DB
      Last-Modified:
      - Thu, 03 Mar 2016 19:52:21 GMT
      Etag:
      - '"e9bb6191cbaca29191be4a968de8871b"'
      Content-Type:
      - text/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2016 The New York Times Company.
        All Rights Reserved.","section":"home","last_updated":"2016-03-03T14:52:02-05:00","num_results":21,"results":[{"section":"U.S.","subsection":"Politics","title":"Front-Runner
        Is a \u2018Fraud,\u2019 He Says","abstract":"In an impassioned speech, Mitt
        Romney urged Republicans to rally around another candidate and said a Trump
        presidency could lead America into a dark abyss.","url":"http:\/\/www.nytimes.com\/politics\/first-draft\/2016\/03\/03\/mitt-romney-donald-trump\/","byline":"By
        ALEXANDER BURNS and MICHAEL BARBARO","item_type":"Blogpost","updated_date":"2016-03-03T14:31:39-5:00","created_date":"2016-03-03T08:58:11-5:00","published_date":"2016-03-03T08:56:20-5:00","material_type_facet":"News","kicker":"First
        Draft","des_facet":"","org_facet":"","per_facet":"","geo_facet":"","multimedia":""},{"section":"U.S.","subsection":"Politics","title":"Anti-Trump
        Faction in G.O.P. Is Seeking Third-Party Option","abstract":"For a growing
        group of conservative leaders, Mr. Trump\u2019s initial refusal to disavow
        an endorsement from a white supremacist was a breaking point.","url":"http:\/\/www.nytimes.com\/2016\/03\/03\/us\/politics\/anti-donald-trump-republicans-call-for-a-third-party-option.html","byline":"By
        ALEXANDER BURNS","item_type":"Article","updated_date":"2016-03-02T18:59:18-5:00","created_date":"2016-03-02T18:59:21-5:00","published_date":"2016-03-03T00:00:00-5:00","material_type_facet":"News","kicker":"","des_facet":["Presidential
        Election of 2016","Voting and Voters","Third-Party Politics (US)","Primaries
        and Caucuses","United States Politics and Government"],"org_facet":["Republican
        Party"],"per_facet":["Trump, Donald J","Clinton, Hillary Rodham","Sasse, Benjamin
        E","Baker, Charles D Jr"],"geo_facet":["Washington (DC)"],"multimedia":[{"url":"http:\/\/static01.nyt.com\/images\/2016\/03\/03\/us\/03defect-web\/03defect-web-thumbStandard.jpg","format":"Standard
        Thumbnail","height":75,"width":75,"type":"image","subtype":"photo","caption":"Senator
        Ben Sasse, Republican of Nebraska, outside the Supreme Court on Wednesday.
        The first-term senator said this week that he would not vote for Donald J.
        Trump if he were the nominee.","copyright":"Drew Angerer\/Getty Images"},{"url":"http:\/\/static01.nyt.com\/images\/2016\/03\/03\/us\/03defect-web\/03defect-web-thumbLarge.jpg","format":"thumbLarge","height":150,"width":150,"type":"image","subtype":"photo","caption":"Senator
        Ben Sasse, Republican of Nebraska[...]
