---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/events?venue.state=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f74cef1ee7c85d978b5a4c28b964fa4b11656a54"'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"per_page":10,"total":2503,"page":1,"geolocation":null},"events":[{"links":[],"id":3084934,"stats":{"listing_count":null,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Indie
        Doc","announce_date":"2016-02-06T00:00:00","score":0,"date_tbd":false,"type":"concert","datetime_local":"2016-03-03T17:00:00","visible_until_utc":"2016-03-04T02:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":2},"name":"Indie
        Doc","short_name":"Indie Doc","url":"https:\/\/seatgeek.com\/indie-doc-tickets","type":"band","image":null,"home_venue_id":null,"primary":true,"score":0,"images":{},"slug":"indie-doc","taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":412763}],"url":"https:\/\/seatgeek.com\/indie-doc-tickets\/wellfleet-massachusetts-wellfleet-preservation-hall-2016-03-03-5-pm\/concert\/3084934","created_at":"2016-02-06T00:00:00","venue":{"city":"Wellfleet","name":"Wellfleet
        Preservation Hall","extended_address":"Wellfleet, MA 02667","url":"https:\/\/seatgeek.com\/venues\/wellfleet-preservation-hall\/tickets","country":"US","display_location":"Wellfleet,
        MA","links":[],"slug":"wellfleet-preservation-hall","state":"MA","score":0,"postal_code":"02667","location":{"lat":41.9384,"lon":-70.0325},"address":"335
        Main St","timezone":"America\/New_York","id":45320},"short_title":"Indie Doc","datetime_utc":"2016-03-03T22:00:00","general_admission":true,"datetime_tbd":false},{"links":[],"id":3126498,"stats":{"listing_count":1,"average_price":10,"lowest_price_good_deals":null,"lowest_price":10,"highest_price":10},"title":"Room
        - Beverly","announce_date":"2016-02-29T00:00:00","score":0.126851,"date_tbd":false,"type":"theater","datetime_local":"2016-03-03T17:30:00","visible_until_utc":"2016-03-04T02:30:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"}],"performers":[{"stats":{"event_count":3},"name":"Room","short_name":"[...]
